.backdrop {


  @media screen  and (min-width:480px) {
    width:450px;
  }
  z-index:2;
  position:fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
background: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
  opacity:0;
  pointer-events:none;
}
.modal {
position:absolute;
top:50%;
left:50%;
transform:translate(-50%, -50%);

width: 528px;
height: 581px;
background: #FFFFFF;
padding: 40px;

}
.icon-close {
  width: 18px;
  height: 18px;
  fill: #000000;
  transition: fill 250ms var(--timing-function);
}
.modal__button {
  display:flex;
  align-items: center;
  width: 30px;
height: 30px;
background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius:50%;
position:absolute;
top:8px;
right:8px;
cursor: pointer;
transition-property: fill;
  transition: transform 1250ms var(--timing-function);
}
.modal__button:hover .icon-close {
  fill: var(--primary-accent-color);
}
.modal__text {

font-weight: 700;
font-size: 20px;
line-height: 23px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
margin-bottom: 12px;
}
.modal__icons {
  fill:#212121;
  width: 18px;
height: 18px;
position:absolute;
top: 11px;
left:12px;
justify-items: center;
transform: translateY(19px);
transition-property:fill;
transition-duration: 250ms;
}
.modal__label {
  color: #757575;
  font-weight: normal;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.01em;
margin-bottom: 4px;
transition-property:color;
transition:  250ms var(--timing-function);
}
.modal__input {
border: 1px solid rgba(33, 33, 33, 0.2);
box-sizing: border-box;
border-radius: 4px;
height: 40px;
width: 448px;
}
.modal__input:hover, 
.modal__input:focus {
 color: var(--primary-accent-color);
 cursor: pointer;
}
.modal__input:hover> .modal__label {
  color: var(--primary-accent-color);
}
.modal__label:hover,
.modal__label:focus> .modal__icons{
  color: var(--primary-accent-color);
  fill: var(--primary-accent-color);
  cursor: pointer;
}
.modal__check-form{
font-weight:400;
font-size: 14px;
line-height: 1.16px;
letter-spacing: 0.03em;
color: #757575;
cursor: pointer;
transition-property:color;
transition: 250ms var(--timing-function);
display: flex;
align-items: center;
}
.modal__check-form:hover,
.modal__check-form:focus {
color: var(--primary-accent-color);
}
.modal__checkbox--icon {
  display:inline-block;
  align-items: center;
 
  width:16px;
  height:15px;
  background-color: #FFFFFF;
  border:black 2px solid;
  border-radius: 4px;
  margin-right: 7px;
  margin-left: 13px;

}
.agreement__link {
  margin-left:2px;
}
.modal__checkbox{
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center 
}
.modal__checkbox:checked+ .modal__checkbox--icon {
background-color: var(--primary-accent-color);
background-image: url('../images/full-check.svg');
background-size: contain;
transition-property:color;
transition: 250ms var(--timing-function);
border: none;
}
.modal__button-form{
  margin-top: 30px;
  display:flex;
  align-items: center;
  justify-content: center;
}
.modal__check-form a{
  color: var(--primary-accent-color);
  text-decoration: underline;
}
.form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position:relative;
}
.form__field input {
  width: 100%;
  padding: 11px 12px;
  padding-left: 42px;

}
.form__field:focus-within >.modal__icons{
  fill: var(--primary-accent-color);
}
.form__field:hover .modal__icons {
  fill: var(--primary-accent-color);

}
.form__field:hover >.modal__input{
 color: #2196F3;
}
.form__field input::placeholder {
  font-size: 14px;
line-height: 1.16;
letter-spacing: 0.01em;

color: rgba(117, 117, 117, 0.5);
}
textarea {
width: 448px;
height: 120px;
font-weight: normal;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.01em;

color: rgba(117, 117, 117, 0.5);
border: 1px solid rgba(33, 33, 33, 0.2);
box-sizing: border-box;
border-radius: 4px;

padding:12px 16px;
margin-bottom: 10px;
resize: none;
}
